@page "/navbar"

<WeHeader>
    <WeNavBar IsFixedTop="true" Expand="NavBarExpand.ExpandMedium" IsDark="true" BackgroundColor="Color.Light" Spacers="new List<WeSpacer> { WeSpacer.PaddingLeftAndRightXtraSmall2}">
        <WeNavbarBrand Alpha="Alpha.A0">
            <img id="logo" width="250" class="" src="https://q-cf.bstatic.com/static/img/b26logo/booking_logo_retina/22615963add19ac6b6d715a97c8d477e8b95b7ea.png" alt="Booking.com réservations d'hôtels en ligne">
        </WeNavbarBrand>
        <WeNavbarToggler @onclick="onclick"></WeNavbarToggler>

        <WeCollapse Open="@IsOpen" IsNavbar="true">
            <WeNav IsList="true" IsNavbar="true" MarginLeftAuto="true">
                <WeNavItem IsDropdown="true">
                    <WeDropdownToggle Color="Color.Primary" IsOutline="true" TextColor="WeC.WeColor.LightGray">Devise: €uros</WeDropdownToggle>
                    <WeDropdownMenu>
                        <WeDropdownItem>Dollars Américains $</WeDropdownItem>
                        <WeDropdownItem>Franc Suisse CHF</WeDropdownItem>
                        <WeDropdownItem IsDivider="true"></WeDropdownItem>
                        <WeDropdownItem>Autres Devises</WeDropdownItem>
                    </WeDropdownMenu>
                </WeNavItem>
                <WeNavItem IsDropdown="true">
                    <WeDropdownToggle Color="Color.Primary" IsOutline="true" TextColor="WeC.WeColor.LightGray">Langue: Francais</WeDropdownToggle>
                    <WeDropdownMenu>
                        <WeDropdownItem>English US</WeDropdownItem>
                        <WeDropdownItem>English UK</WeDropdownItem>
                        <WeDropdownItem>Español </WeDropdownItem>
                        <WeDropdownItem>Deutsch </WeDropdownItem>
                        <WeDropdownItem>Italiano </WeDropdownItem>
                        <WeDropdownItem IsDivider="true"></WeDropdownItem>
                        <WeDropdownItem>Autres langues</WeDropdownItem>
                    </WeDropdownMenu>
                </WeNavItem>
                <WeNavItem>
                    <WeButton ButtonType="ButtonType.Button" IsOutline="true">
                        <span class="glyphicon glyphicon-print"><WeBadge Color="Color.Light">2</WeBadge></span>
                    </WeButton>
                </WeNavItem>
            </WeNav>
        </WeCollapse>
    </WeNavBar>

</WeHeader>

<WeMain IsFluid="true">
    <div class="jumbotron jumbotron-fluid" style="background-color: #e0e0e0">
        <div class="container">
            <h3 class="display-4">Votre savez où partir</h3>
            <p class="lead  d-none d-md-block">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            <div class="search-destination " style="padding: 4px; ">
                <div class=" d-none d-md-block">
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@@</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Où allez-vous?" aria-label="Username" aria-describedby="basic-addon1">
                        <div class="input-group-prepend" style="margin-left:4px;">
                            <span class="input-group-text" id="basic-addon2">@@</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Arrivée - Départ" aria-label="Username" aria-describedby="basic-addon1">
                        <div class="input-group-prepend" style="margin-left:4px;">
                            <span class="input-group-text" id="basic-addon3">@@</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Personnes" aria-label="Username" aria-describedby="basic-addon4">
                        <WeButton ButtonType="ButtonType.Button" style="margin-left:4px;">Rechercher</WeButton>
                    </div>
                </div>
                <div class="d-md-none">
                    <form action="/" method="post">
                        <div class="form-row mt-3">
                            <div class="form-group col-md-12">
                                <label for="inputEmail4">Destination</label>
                                <input type="email" class="form-control" id="inputEmail4" placeholder="Où allez-vous?">
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Du</label>
                                <input type="email" class="form-control" id="inputEmail5" placeholder="A Partir de ">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Au</label>
                                <input type="email" class="form-control" id="inputEmail6" placeholder="Jusqu'au">
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">Adultes</label>
                                <input type="email" class="form-control" id="inputEmail9" placeholder="Nombre d'adultes ">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">Enfants</label>
                                <input type="email" class="form-control" id="inputEmail7" placeholder="Nombre d'enfants">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">Chambre</label>
                                <input type="email" class="form-control" id="inputEmail8" placeholder="Nombre de chambres">
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-outline-primary" style="width: 100%;height: 100px;font-size: xx-large;border-radius: 20px;">Rechercher</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="">
        <WeRow Spacers="new List<WeSpacer> { WeSpacer.PaddingLeftAndRightMedium5}">
            <WeForm Model="_bookModel" TModel="BookModel">
                <WeDataAnnotationsValidator />
                <WeStepper Type="WeStepperType.HorizontalContentLinear" StepperType="WeStepperItemType.Content">
                    <WeStepperItem Label="Vos Dates">
                        <WeFormGroup IsRow="true">
                            <WeCol Columns="new List<WeColumn>() {WeColumn.lg4 }">
                                <WeInput Id="exampleEmail3" @bind-Value="_bookModel.Start" ValidateOnInput="true" PlaceHolder="Date de Départ"></WeInput>
                                <WeFormFeedback For="@(() => _bookModel.Start)" ValidMessage="You have entered a valid First Name" />
                            </WeCol>
                        </WeFormGroup>
                        <WeButton ButtonType="ButtonType.StepNext" Color="Color.Success">Continuer</WeButton>
                    </WeStepperItem>
                </WeStepper>

            </WeForm>
            <WeAccordion Class="accordion-suggestion w-100" InnerCardClass="accordion-suggestion-innercard w-100" HeaderClass="mx-md-1 mx-auto " ActivatorClass="btn-outline-primary" @ref="_accordionsug" Items="_sugs" OnShow="ShowingSuggestionAccordion">
                <CardHeader Context="item">
                    <WeCard CardType="CardType.Header" Class="mx-md-1 mx-auto  ">
                        <h2 class="d-block d-md-none mb-0">
                            <WeButton ButtonType="ButtonType.Button" Class="btn-outline-primary" Color="Color.None" IsLink="true" @onclick="() => ( ((WeAccordionBase) item.Item1).Activate(item.Item2))">
                                @item.Item3.Title
                            </WeButton>

                        </h2>
                        <h4 class="	d-none d-md-block" @onclick="() => ( ((WeAccordionBase) item.Item1).Activate(item.Item2))">@item.Item3.Title</h4>
                    </WeCard>
                </CardHeader>
                <Content Context="sugs">
                    <WeCard CardType="CardType.Deck" Class="mx-2">
                        @foreach (var sug in sugs.Items)
                        {

                            <WeCard Class="card-search-suggestion md my-3" >
                                @if (sug.Title.Length > 0)
                                {
                                    <WeCard CardType="CardType.Header"><h5>@sug.Title</h5></WeCard>
                                }
                                @if (sug.Image != null)
                                {
                                    <WeCard CardType="CardType.ImageOverlayContainer" class="card-img-zoom-out-1">
                                        <WeCard CardType="CardType.Image" VerticalAlignment="VerticalAlignment.Top" src="@sug.Image.Source" Class="card-img-center"></WeCard>
                                        <WeOverlay IsBottom="true" Height="Height.H100"></WeOverlay>
                                        @if (sug.Image.Title.Length > 0 || sug.Image.Content.Length > 0)
                                        {
                                            <WeCard CardType="CardType.ImageOverlay" Class="bottom mb-5 mx-3">
                                                @if (sug.Image.Title.Length > 0)
                                                {
                                                    <WeCard CardType="CardType.Title" Color="Color.black" Class="w800">@sug.Image.Title</WeCard>
                                                }
                                                @if (sug.Image.Content.Length > 0)
                                                {
                                                    <WeCard CardType="CardType.Text" Color="Color.black" Class="w500">@sug.Image.Content</WeCard>
                                                }
                                            </WeCard>
                                        }
                                    </WeCard>
                                }
                                <WeCard CardType="CardType.Body">
                                    <WeCard CardType="CardType.Subtitle">@sug.SubTitle</WeCard>

                                </WeCard>
                                @if (sug.Town.Length > 0 || sug.Price.Length > 0 || sug.Notation != null)
                                {
                                    <WeCard CardType="CardType.Footer">

                                        @if (sug.Town.Length > 0)
                                        {
                                            <div class="webook-town">@sug.Town</div>
                                        }
                                        @if (sug.Price.Length > 0)
                                        {
                                            <div class="webook-price">@sug.Price</div>
                                        }
                                        @if (sug.Notation != null)
                                        {
                                            <SearchCardNotation Note="sug.Notation" Class="webook-search-card-notation webook-small"></SearchCardNotation>
                                        }
                                    </WeCard>
                                }
                            </WeCard>

                        }
                    </WeCard>
                </Content>
            </WeAccordion>


        </WeRow>
    </div>
</WeMain>
@code{
    private BookModel _bookModel = new BookModel() ;
    bool IsOpen { get; set; } = false;
    void onclick(MouseEventArgs e)
    {
        IsOpen = !IsOpen;
        StateHasChanged();
        Console.WriteLine("Navbar Class->" + IsOpen.ToString());
    }
    WeAccordion<CardSuggestion> _accordionsug { get; set; }
    protected int _accordionSugNumber { get; set; }
    protected void ShowingSuggestionAccordion(int index)
    {
        Console.WriteLine($"Show accordion number {index}");
        _accordionSugNumber = index;
    }
    List<CardSuggestion> _sugs = new List<CardSuggestion>()
{
        new CardSuggestion()
        {
            Title="Rechercher par type d'hébergement",
            Items=new List<CardSuggestionItem>()
{
                new CardSuggestionItem()
                {
                    Title="Hotels",
                    Image=new CardSugesstionImage(){
                        Source="https://r-cf.bstatic.com/xdata/images/xphoto/square300/57584488.webp?k=bf724e4e9b9b75480bbe7fc675460a089ba6414fe4693b83ea3fdd8e938832a6&o=",
                        Title="Nos Hotels",
                        Content="Tous nos hotels sont confortables !!"
                    },
                    SubTitle="712 876 Disponibles"

                },
                new CardSuggestionItem()
                {
                     Title="Appartements",
                    Image=new CardSugesstionImage(){
                        Source="https://r-cf.bstatic.com/static/img/theme-index/carousel_320x240/card-image-apartments_300/9f60235dc09a3ac3f0a93adbc901c61ecd1ce72e.jpg",
                        Title="Nos Hotels",
                        Content="Tous nos hotels sont confortables !!"
                    },
                    SubTitle="779 997 Disponibles"
                },
                new CardSuggestionItem()
                {
                    Title="Complexes Hoteliers",
                    Image=new CardSugesstionImage(){
                        Source="https://r-cf.bstatic.com/static/img/theme-index/carousel_320x240/bg_resorts/6f87c6143fbd51a0bb5d15ca3b9cf84211ab0884.jpg",
                        Title="Nos Hotels",
                        Content="Tous nos hotels sont confortables !!"
                    },
                    SubTitle="20 669 Disponibles"

                },
                new CardSuggestionItem()
                {
                    Title="Villas",
                    Image=new CardSugesstionImage(){
                        Source="https://q-cf.bstatic.com/static/img/theme-index/carousel_320x240/card-image-villas_300/dd0d7f8202676306a661aa4f0cf1ffab31286211.jpg",
                        Title="Nos Hotels",
                        Content="Tous nos hotels sont confortables !!"
                    },
                    SubTitle="390 443 Disponibles"

                },
                new CardSuggestionItem()
                {
                    Title="Chalets",
                    Image=new CardSugesstionImage(){
                        Source="https://r-cf.bstatic.com/static/img/theme-index/carousel_320x240/card-image-chalet_300/8ee014fcc493cb3334e25893a1dee8c6d36ed0ba.jpg ",
                        Title="Nos Hotels",
                        Content="Tous nos hotels sont confortables !!"
                    },
                    SubTitle="13 744 Disponibles"

                },
                new CardSuggestionItem()
                {
                    Title="Cottages",
                    Image=new CardSugesstionImage(){
                        Source="https://q-cf.bstatic.com/static/img/theme-index/carousel_320x240/bg_cottages/5e1fd9cd716f4825c6c7eac5abe692c52cc64516.jpg ",
                        Title="Nos Hotels",
                        Content="Tous nos hotels sont confortables !!"
                    },
                    SubTitle="126 478 Disponibles"

                },
                new CardSuggestionItem()
                {
                    Title="Campings de Luxe",
                     Image=new CardSugesstionImage(){
                        Source="https://r-cf.bstatic.com/static/img/theme-index/carousel_320x240/bg_glamping/6e181b9e942c160f4605239be7ddc1728cbcc4c8.jpg ",
                        Title="Nos Hotels",
                        Content="Tous nos hotels sont confortables !!"
                    },

                    SubTitle="10 090 Disponibles"

                },
                new CardSuggestionItem()
                {
                    Title="Appart'hotels",

                    Image=new CardSugesstionImage(){
                        Source="https://q-cf.bstatic.com/static/img/theme-index/carousel_320x240/bg_aparthotel/10e092f390b128dcff92727912299eef7824b751.jpg ",
                        Title="Nos Hotels",
                        Content="Tous nos hotels sont confortables !!"
                    },
                    SubTitle="34 511 Disponibles"

                },
                new CardSuggestionItem()
                {
                    Title="Maisons de vacances",
                    Image=new CardSugesstionImage(){
                        Source="https://q-cf.bstatic.com/static/img/theme-index/carousel_320x240/card-image-holidayhomes_300/604c7484d34a9e8791c2d5a0e2df4bc8c803dc7c.jpg ",
                        Title="Nos Hotels",
                        Content="Tous nos hotels sont confortables !!"
                    },
                    SubTitle="390 443 Disponibles"

                },
                new CardSuggestionItem()
                {
                    Title="Maisons d'hotes",
                    Image=new CardSugesstionImage(){
                        Source="https://q-cf.bstatic.com/static/img/theme-index/carousel_320x240/bg_guest_house/70618d86d515349ce56296a56d2eaaf283fd1542.jpg ",
                        Title="Nos Hotels",
                        Content="Tous nos hotels sont confortables !!"
                    },
                    SubTitle="125 349 Disponibles"

                },
            }
        },
        new CardSuggestion()
        {
            Title="Rechercher parmis les mieux notés",
            Items=new List<CardSuggestionItem>()
{
                new CardSuggestionItem()
                {
                    Title="",
                    Image=new CardSugesstionImage(){
                        Source="https://q-cf.bstatic.com/xdata/images/hotel/max500/38437078.jpg?k=241519692574af90306f0dbec0121eacfddc9a183df3ea34a7b7c8f2b4f5febb&o=",

                    },
                    Town="Lisbonne",
                    SubTitle="Sugar Loft Apartments",
                    Price="Dès 60€",
                    Notation=new Notation()
                    {
                        Note=9.4,
                        Evaluation="Fabuleux",
                        Numbers=283
                    }
                },


            }
        }

    };

    class CardSuggestion
    {
        public string Title { get; set; }
        public List<CardSuggestionItem> Items { get; set; } = new List<CardSuggestionItem>();
    }
    class CardSuggestionItem
    {
        public string Title { get; set; } = "";
        public CardSugesstionImage Image { get; set; }
        public string SubTitle { get; set; } = "";
        public string Town { get; set; } = "";
        public string Price { get; set; } = "";
        public Notation Notation { get; set; } = null;
    }
    class CardSugesstionImage
    {
        public string Source { get; set; } = "";
        public string Title { get; set; } = "";
        public string Content { get; set; } = "";
    }


}